* {
    -fx-unhovered-text-color: white;
    -fx-hovered-text-color: rgba(22,158,207,255);
    /*-fx-text-fill: rgba(201,209,217,255);*/
}

.root{
    -fx-font-size: 16pt;
    -fx-font-family: "Roboto";
    /*-fx-background-color: rgba(30,31,32,255);*/
}

#topBar {
    -fx-background-color: rgba(34,34,34,255);
}

#topBar Text{
    -fx-fill: -fx-unhovered-text-color;
    -fx-font-size: 15pt;
}

#logoContainer {
    -fx-cursor: hand;
}

#logoContainer:hover {
    -fx-background-color: rgba(51,51,51,255);
    -fx-effect: dropshadow( one-pass-box , rgba(255,255,255,0.5) , 0, 0.0 , 0 , 1);
}

#logoContainer:hover Text{
    -fx-fill: -fx-hovered-text-color;
}

#profileContainer:hover {
    -fx-background-color: rgba(51,51,51,255);
    -fx-effect: dropshadow( one-pass-box , rgba(255,255,255,0.5) , 0, 0.0 , 0 , 1);
}

#profileContainer:hover Text{
    -fx-fill: -fx-hovered-text-color;
}

#profileContainer {
    -fx-cursor: hand;
}

.menu-sub-button {
    -fx-font-size: 10pt;
    -fx-background-color: rgba(51,51,51,255);
    -fx-cursor: hand;
}

#menuContainer {
    -fx-background-color: rgba(34,34,34,255);
    -fx-text-fill: -fx-unhovered-text-color;
}

#menuContainer .menu-main-button  {
    -fx-cursor: hand;
    -fx-background-color: transparent;
}

#menuContainer .menu-main-button:hover  {
    -fx-background-color: rgba(18,18,18,255);
}

#menuContainer Button:hover{
    -fx-text-fill: -fx-hovered-text-color;
}

#menuContainer Button {
    -fx-text-fill: -fx-unhovered-text-color;
}

.selected-main-menu {
    -fx-background-color: rgba(0,109,165,255) !important;
    -fx-text-fill: white !important;
}

.profile-drop-down {
    -fx-background-color: rgba(34,34,34,255);
    /*-fx-effect: innershadow(gaussian, black, 25, 0.5, 5, 5);*/
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 0.5, 0.5, 0.5, 0.5);
}

.profile-drop-down > * {
    -fx-padding: 10 0 10 0;
}

.profile-drop-down > *:hover {
    -fx-background-color: rgba(51,51,51,255);
}

.profile-drop-down TextFlow {
    -fx-text-alignment: center;
    -fx-cursor: hand;
}

.profile-drop-down TextFlow Text {
    -fx-fill: rgba(201,209,217,255);
}

.profile-drop-down TextFlow:hover Text {
    -fx-fill: -fx-hovered-text-color !important;
}

.big-text Text {
    -fx-fill: black;
    -fx-font-size: 24pt;
    -fx-font-weight: bold;
}

.doi-mat-khau > TextFlow {
    -fx-border-color: transparent transparent rgba(207,207,207,255) transparent;
}

.form TextFlow {
    -fx-text-alignment: center;
}

#content {
    -fx-background-color: rgba(241,241,241,255);
}

.doi-mat-khau .form PasswordField {
    -fx-background-color: white;
    -fx-text-fill: rgba(85,85,85,255);
    -fx-font-size: 18px;
}

.doi-mat-khau .form PasswordField:hover {
    -fx-effect: dropshadow(gaussian, #bbd8f8, 8, 0.5, 0, 0);
}

.doi-mat-khau .form PasswordField:focused {
    -fx-effect: dropshadow(gaussian, #bbd8f8, 8, 0.5, 0, 0);
}

.doi-mat-khau Button {
    -fx-background-color: rgba(164,42,0,255);
    -fx-cursor: hand;
    -fx-text-fill: white;
}

.cancel-button {
    -fx-background-color: rgba(164,42,0,255);
    -fx-cursor: hand;
    -fx-text-fill: white;
}

.state-text Text {
    -fx-font-size: 15px;
}

.login-text-field {
    /*-fx-background-color: yellow;*/
    -fx-border-color: rgba(71,78,96,255);
    -fx-border-radius: 5px;
}

.login-text-field TextField {
    -fx-background-color: rgba(241,241,241,255);
    -fx-prompt-text-fill: rgba(71,78,96,255);
    -fx-text-fill: rgba(71,78,96,255);
}

#filter {
    -fx-font-size: 20px;
    /*-fx-background-color: blue;*/
}

.filter-item {
}

.MDI_FLAG_OUTLINE Text {
    -fx-font-size: 18px;
}

.filter-item-combobox {
    -fx-border-color: rgba(170,170,170,255);
    -fx-background-color: rgba(241,241,241,255);
    -fx-border-radius: 10px;
    -fx-cursor: hand;
    -fx-text-fill: black;
}

.filter-item-combobox .list-cell {
    /*-fx-text-fill: black;*/
    -fx-cursor: hand;
}

.combo-box:focused, .combo-box .arrow-button:focused {
    -fx-border-color: #007bff;  /* Blue border on focus */
    -fx-focus-color: #007bff;   /* Blue focus color */
}

#resident-table {
    -fx-font-size: 15px;
}

.public-profile {
    -fx-border-radius: 10px;
    -fx-border-color: black;
}

.public-profile Label {
    -fx-text-fill: rgba(91,100,123,255);
    -fx-font-size: 20px;
    -fx-user-select: text;
}

TextAndTextField .not-editable-text-field {
    -fx-background-color: #f5f7fa;
    /*-fx-border: 1px solid #d1d9e6;*/
    -fx-color: #5f6368;
    /*-fx-padding: 0px;*/
    -fx-border-radius: 6px;
    -fx-font-size: 14px;
    -fx-opacity: 0.7;
    -fx-pointer-events: none;
    -fx-user-select: none;
}

TextAndTextField .editable-text-field {
    -fx-background-color: transparent;
    -fx-border-color: #acacac;
    -fx-color: #5f6368;
    /*-fx-padding: 0px;*/
    -fx-border-radius: 10px;
    -fx-font-size: 14px;
    /*-fx-opacity: 0.7;*/
}

VerticleTextAndTextField Text {
    -fx-font-size: 15px;
    -fx-fill: grey;
}

VerticleTextAndTextField .not-editable-text-field {
    -fx-background-color: transparent;
    /*-fx-border-color: red;*/
    -fx-color: #5f6368;
    /*-fx-padding: 0px;*/
    -fx-border-radius: 6px;
    -fx-font-size: 25px;
    -fx-opacity: 0.7;
    -fx-pointer-events: none;
    -fx-user-select: none;
}

VerticleTextAndTextField .editable-text-field {
    -fx-background-color: transparent;
    /*-fx-border-color: red;*/
    -fx-color: #5f6368;
    /*-fx-padding: 0px;*/
    -fx-border-radius: 6px;
    -fx-font-size: 25px;
    /*-fx-opacity: 0.7;*/
}

VerticleTextAndDateTimePicker Text {
    -fx-font-size: 15px;
    -fx-fill: grey;
    /*-fx-padding: 0px;*/
}

VerticleTextAndDateTimePicker .not-editable-text-field .text-field {
    -fx-background-color: rgba(241,241,241,255);
    /*-fx-padding: 0px;*/
}

VerticleTextAndDateTimePicker .editable-text-field .text-field {
    -fx-background-color: rgba(241,241,241,255);
    /*-fx-padding: 0px;*/
}

VerticleTextAndDateTimePicker .not-editable-text-field .arrow-button {
    -fx-background-color: rgba(241,241,241,255);
}

VerticleTextAndDateTimePicker .editable-text-field .arrow-button {
    -fx-background-color: rgba(241,241,241,255);
}


VerticleTextAndComboBox Text {
    -fx-font-size: 15px;
    -fx-fill: grey;
    /*-fx-padding: 0px;*/
}

VerticleTextAndComboBox .editable-text-field {
    -fx-background-color: rgba(241,241,241,255);
    /*-fx-padding: 0px;*/
    -fx-cursor: hand;
}
VerticleTextAndComboBox .not-editable-text-field {
    -fx-background-color: rgba(241,241,241,255);
    /*-fx-padding: 0px;*/
    -fx-cursor: hand;
}

VerticleTextAndComboBox .not-editable-text-field .arrow-button {
    -fx-background-color: rgba(241,241,241,255);
}

VerticleTextAndComboBox .editable-text-field .arrow-button {
    -fx-background-color: rgba(241,241,241,255);
}

VerticleTextAndComboBox .editable-text-field.combo-box:focused{
    -fx-border-color: none !important;  /* Blue border on focus */
    -fx-focus-color: none !important;   /* Blue focus color */
}

VerticleTextAndComboBox .editable-text-field.combo-box .arrow-button:focused{
    -fx-border-color: none !important;  /* Blue border on focus */
    -fx-focus-color: none !important;   /* Blue focus color */
}

VerticleTextAndComboBox .not-editable-text-field.combo-box:focused{
    -fx-border-color: none !important;  /* Blue border on focus */
    -fx-focus-color: none !important;   /* Blue focus color */
}

VerticleTextAndComboBox .not-editable-text-field.combo-box .arrow-button:focused{
    -fx-border-color: none !important;  /* Blue border on focus */
    -fx-focus-color: none !important;   /* Blue focus color */
}

#save-button {
    -fx-background-color: rgba(0,109,165,255);
    -fx-border-radius: 20px;
    -fx-cursor: hand;
    -fx-text-fill: white;
    -fx-fill: white;
}

.notification .close-button {
    -fx-cursor: hand;
}

VerticleTextAndTextArea Text {
    -fx-font-size: 15px;
    -fx-fill: grey;
    /*-fx-padding: 0px;*/
}

VerticleTextAndTextArea .not-editable-text-field {
    -fx-background-color: transparent;
    /*-fx-border-color: red;*/
    -fx-color: #5f6368;
    /*-fx-padding: 0px;*/
    -fx-border-radius: 6px;
    -fx-font-size: 25px;
    -fx-opacity: 0.7;
    -fx-pointer-events: none;
    -fx-user-select: none;
    -fx-border-color: rgba(114,123,132,255);
}

VerticleTextAndTextArea .editable-text-field {
    -fx-background-color: transparent;
    /*-fx-border-color: red;*/
    -fx-color: #5f6368;
    /*-fx-padding: 0px;*/
    -fx-border-radius: 6px;
    -fx-font-size: 25px;
    /*-fx-opacity: 0.7;*/
    -fx-border-color: rgba(114,123,132,255);
}

.action-button {
    -fx-cursor: hand;
    -fx-text-fill: white;
}

.action:hover {
    -fx-effect: dropshadow(gaussian, #bb86fc, 20, 0.7, 0, 0);
}

.red-text {
    -fx-fill: red !important;
    -fx-text-fill: red !important;
}

.table-view {
    -fx-font-size: 14px;
}

.table-column {
    -fx-font-size: 14px;
}

.table-row-cell {
    -fx-font-size: 14px;
}

#notificationButton {
    -fx-background-color: transparent;
    -fx-icon-color: white;
    -fx-cursor: hand;
}

.notification-button-icon {
    -fx-icon-color: white;
    -fx-icon-size: 25px; /* Set font size */
}

#notificationButton:hover{
    -fx-background-color: #333333;
}

#notificationButton:hover .notification-button-icon{
    -fx-icon-color: #169dce;
}

#noti-popup-scroll-pane {
    -fx-background-color: white;
    /*-fx-effect: dropshadow( one-pass-box , rgba(255,255,255,0.5) , 10, 0.0 , 0 , 1);*/
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.custom-radio-button {
    -fx-background-color: transparent;
    -fx-padding: 8px 30px 10px 15px;
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
    -fx-cursor: hand;
    -fx-background-radius: 20px;
    -fx-min-width: 80px;

    /* These properties ensure proper centering */
    -fx-content-display: center;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-font-weight: bold;
}

.custom-radio-button .text {
    -fx-text-alignment: center;
}

.custom-radio-button:selected {
    -fx-background-color: #e6f0ff;
    -fx-text-fill: #4169E1;
}

/* Hide the default radio button completely */
.custom-radio-button .radio {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-shape: "";
    visibility: hidden;
}

.custom-radio-button .dot {
    visibility: hidden;
}

.custom-radio-button:selected:hover{
    -fx-background-color: #dfe8f2;
    -fx-text-fill: #4169E1;
}
.custom-radio-button:hover{
    -fx-background-color: #f2f2f2;
}

.hand-hover {
    -fx-cursor: hand;
}

.addnew-button {
    -fx-background-color: #5490ec; /* Material Design primary purple */
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 12px 24px;
    -fx-background-radius: 10px; /* Rounded corners */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 3, 0, 0, 1);
    -fx-cursor: hand;
}

.addnew-button:hover {
    -fx-background-color: #4487f9; /* Slightly lighter purple for hover state */
}

.addnew-button:pressed {
    -fx-background-color: #4487f9; /* Darker purple for pressed state */
}

.login-button {
    -fx-background-color: #1a8cff; /* Bright blue color */
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 10px 30px;
    -fx-background-radius: 30px; /* Rounded corners */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 5, 0, 0, 2);
    -fx-cursor: hand;
    -fx-translate-y: 20px;
    -fx-transition: all 0.3s ease-in-out;
}

.login-button:hover {
    -fx-background-color: #0066cc; /* Darker blue on hover */
}

.login-button:pressed {
    -fx-background-color: #0052a3; /* Even darker when pressed */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 3, 0, 0, 1);
}

.register-button {
    -fx-background-color: transparent; /* Bright blue color */
    -fx-text-fill: #9ab0c2;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 10px 30px;
    -fx-background-radius: 30px; /* Rounded corners */
    /*-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 5, 0, 0, 2);*/
    -fx-translate-y: 20px;
    -fx-cursor: hand;
    -fx-transition: all 0.3s ease-in-out;
}
.register-button:hover {
    -fx-text-fill: #1a8cff;
    -fx-underline: true;
}
.register-button:pressed {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 3, 0, 0, 1);
}

.auto-addnew-button {
    -fx-background-color: #55925a; /* Material Design primary purple */
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 12px 24px;
    -fx-background-radius: 10px; /* Rounded corners */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 3, 0, 0, 1);
    -fx-cursor: hand;
}

.auto-addnew-button:hover {
    -fx-background-color: #47774b; /* Slightly lighter purple for hover state */
}

.auto-addnew-button:pressed {
    -fx-background-color: #375a3a; /* Darker purple for pressed state */
}
.auto-no-button {
    /*-fx-background-color: #55925a; !* Material Design primary purple *!*/
    /*-fx-text-fill: white;*/
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 12px 24px;
    -fx-background-radius: 10px; /* Rounded corners */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 3, 0, 0, 1);
    -fx-cursor: hand;
}

.auto-no-button:hover {
    /*-fx-background-color: #47774b; !* Slightly lighter purple for hover state *!*/
}

.auto-no-button:pressed {
    /*-fx-background-color: #375a3a; !* Darker purple for pressed state *!*/
}

.btn-edit {
    -fx-background-color: transparent !important;
}

.btn-delete {
    -fx-background-color: transparent !important;
}
.btn-pay {
    -fx-background-color: transparent !important;
}
.btn-receipt {
    -fx-background-color: transparent !important;
}


.table-maker-button {
    -fx-background-color: #ad6c79; /* Material Design primary purple */
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 12px 24px;
    -fx-background-radius: 10px; /* Rounded corners */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 3, 0, 0, 1);
    -fx-cursor: hand;
}

.table-maker-button:hover {
    -fx-background-color: #ad6c79; /* Slightly lighter purple for hover state */
}

.table-maker-button:pressed {
    -fx-background-color: #ad6c79; /* Darker purple for pressed state */
}
